<div class="text-end">
    Додатковий <span class="display-6">текст</span>
</div>

<div class="card">
    <div class="card-body">
        <a href="#" class="btn btn-primary">
            Button primary
        </a>
    </div>
</div>
    
<hr>
<hr>

<div class="card">
    <div class="card-body">
        <div class="">My text</div>
        <div class="text-dark">My text</div>
        <div class="text-muted">My text</div>
    </div>
</div>

<br>
<br>
<br>
<br>

<div class="card">
    <div class="card-body">
        <button class="btn btn-secondary btn-lg">Add</button>
       <button class="btn btn-outline-secondary">Редагувати</button>
        <button class="btn btn-outline-dark btn-sm">Delete</button>
    </div>
</div>