<main>
    <div class="row g-2">
        <div class="col-12">
            <div class="nav nav-tabs">
                <div class="nav-item">   
                    <a href="#" class="nav-link active">layout</a>
                </div>
         
                <div class="nav-item">
                    <a href="#" class="nav-link">navigation</a>
                </div>
    
                <div class="nav-item">
                    <a href="#" class="nav-link">href</a>
                </div>
               
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column">
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="#" class="nav-link">layout</a>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="nav-item mb-2">
                                <a href="#" class="nav-link">navigation</a>
                            </div>
                        </div>
                       
                        <div class="card">
                            <div class="nav-item">
                                <a href="#" class="nav-link">href</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">href</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">hjkh</a>
                </li>
                <li class="breadcrumb-item">
                    mhgdj
                </li>
            </ol>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">href</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">hjkh</a>
                        </li>
                        <li class="breadcrumb-item">
                            mhgdj
                        </li>
                    </ol>
                </div>

                <div class="col-6"><button class="btn btn-warning text-center rounded-pill m-5"><b>Click me</b></button>

                    <h6>Hollo world <span class="badge text-bg-warning rounded-pill">NEW</span></h6>
                    <button class="btn btn-warning text-center rounded-pill mb-3"><b>Click me</b></button>

                    <div class="alert alert-primary">
                        This is important info<h6>Hollo world <span class="badge text-bg-warning rounded-pill">NEW</span></h6>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
{{!--     
    <div class="row gy-5">
        <section class="col-12">
        <div class="card text-bg-dark">
            <img class="card-img-top" alt="foto hhh" src="https://picsum.photos/400/200">
            <div class="card-body">
                <h5 class="card-title text-bg-primary">Title</h5>
                <p>Hello world</p>
                <a href="#" class="btn btn-primary">open</a>
            </div>
        </div>
        </section>
    </div>
    <section class="col-12">
        
    </section>

    <h4>Menu</h4>
    <ul class="list-group">
        <li class="list-group-item"><a href="/">Home</a></li>
        <li class="list-group-item"><a href="/work">Work</a></li>  
        <li class="list-group-item"><a href="/bio">Bio</a></li>  
    </ul>

    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-header text-bg-primary">
            <div class="display-6">Title</div>
        </div>
            <ul class="list-group">
                <li class="list-group-item text-bg-primary"><a href="/">Home</a></li>
                <li class="list-group-item text-bg-primary"><a href="/work">Work</a></li>  
                <li class="list-group-item text-bg-primary"><a href="/bio">Bio</a></li>  
            </ul>
        <div class="card-footer">
            <button class="btn btn-dark btn-sm">Update</button>
        </div>
    </div>

    <br>
    <br>
    <br>
    <table class="table table-striped text-bg-primary table-bordered">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>

        <body>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Ivan
                </td>
                <td>
                    19
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Ivan
                </td>
                <td>
                    19
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Ivan
                </td>
                <td>
                    19
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Ivan
                </td>
                <td>
                    19
                </td>
            </tr>
        </body>
    </table>

    <br>
    <div class="row gy-4 gx-5">
        <div class="col-3">
            <div class="card text-bg-success ">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title text-center">Title title</h6>
                    <div class="text-center">Content sdsdg sf sg sgd s  gjghh</div>
                    <button class="btn btn-light text-center">Click me</button>
                    <div class="card-footer text-center">Footer</div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success ">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title text-center">Title title</h6>
                    <div class="text-center">Content sdsdg sf sg sgd s  gjghh</div>
                    <button class="btn btn-light ">Click me</button>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success ">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title text-center">Title title</h6>
                    <div class="text-center">Content sdsdg sf sg sgd s  gjghh</div>
                    <button class="btn btn-light text-center">Click me</button>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success ">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title text-center">Title title</h6>
                    <div class="text-center">Content sdsdg sf sg sgd s  gjghh</div>
                    <button class="btn btn-light text-center">Click me</button>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success ">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title text-center">Title title</h6>
                    <div class="text-center">Content sdsdg sf sg sgd s  gjghh</div>
                    <button class="btn btn-light text-center">Click me</button>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success ">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title text-center">Title title</h6>
                    <div class="text-center">Content sdsdg sf sg sgd s  gjghh</div>
                    <button class="btn btn-light text-center">Click me</button>
                    <div class="card-footer text-center">Footer</div>
                </div>
            </div>
        </div>
    </div>
    <br>
<br> --}}
</main>

